@page "/detial/{url}/{NovelId}/{NovelName}/{NovelAddr}/{pageNum:int?}"
@using MauiApp3.Common;
@using MauiApp3.Data;
@using System.Text.Encodings.Web;
@using System.Text;
@inject NavigationManager Navigation;
@inject SoduService soduService;
@inject IJSRuntime js;
@if (novelInfo == null)
{
    <div class="btn-group  container">
        <NavLink href="/index/1" class="btn btn-sm text-nowrap btn-block btn-outline-primary mt-2">主页</NavLink>
        <NavLink href="/records" class="btn btn-sm text-nowrap btn-block btn-outline-primary mt-2">历史记录</NavLink>
    </div>
    <p>@Message</p>
}
else
{
    <p>当前页：@pageNum</p>
    <div class="btn-group  container">
        <NavLink href="/index/1" class="btn btn-sm text-nowrap btn-block btn-outline-primary mt-2">主页</NavLink>
        <NavLink href="/records" class="btn btn-sm text-nowrap btn-block btn-outline-primary mt-2">历史记录</NavLink>

        @if (novelInfo.CurrentPage > 1)
        {
            <a @onclick=@(e=>Navigation.GoTo("/detial",url,NovelId,NovelName,NovelAddr,(novelInfo.CurrentPage-1).ToString())) @onclick:preventDefault class="btn btn-sm text-nowrap btn-block btn-outline-primary mt-2">上一页(@(novelInfo.CurrentPage - 1))</a>
        }
        @if (novelInfo.CurrentPage < novelInfo.TotalPage)
        {
            <a @onclick=@(e=>Navigation.GoTo("/detial",url,NovelId,NovelName,NovelAddr,novelInfo.TotalPage.ToString())) @onclick:preventDefault class="btn btn-sm text-nowrap btn-block btn-outline-primary mt-2">尾页(@(novelInfo.TotalPage))</a>
        }
        @if (novelInfo.CurrentPage < novelInfo.TotalPage)
        {
            <a @onclick=@(e=>Navigation.GoTo("/detial",url,NovelId,NovelName,NovelAddr,(novelInfo.CurrentPage+1).ToString())) @onclick:preventDefault class="btn btn-sm text-nowrap btn-block btn-outline-primary mt-2">下一页(@(novelInfo.CurrentPage + 1))</a>
        }
    </div>
    <div class="row container text-center mt-3">
    <h1>@novelInfo.Name</h1>
    <p>@novelInfo.Author</p>
    <p>@novelInfo.NovelType</p>
    <p>@novelInfo.LastChapter</p>
    </div>
    <ul>
        
    @foreach (var item in novelInfo.Chapters)
    {
        <li class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray align-middle">
                    <a @onclick=@(e=>Navigation.GoTo("/catalogs",item.Url,NovelId,NovelName,NovelAddr)) @onclick:preventDefault>
                    <strong class="d-block text-gray-dark">@item.Name</strong>
                </a>
            </p>
        </li>
       
    }
    </ul>
    <div class="btn-group container">
        <NavLink href="/index/1" class="btn btn-sm text-nowrap btn-block btn-outline-primary mb-2">主页</NavLink>

        @if (novelInfo.CurrentPage > 1)
        {
            <a @onclick=@(e=>Navigation.GoTo("/detial",url,NovelId,NovelName,NovelAddr,(novelInfo.CurrentPage-1).ToString())) @onclick:preventDefault class="btn btn-sm text-nowrap btn-block btn-outline-primary mb-2">上一页(@(novelInfo.CurrentPage - 1))</a>
        }
        @if (novelInfo.CurrentPage < novelInfo.TotalPage)
        {
            <a @onclick=@(e=>Navigation.GoTo("/detial",url,NovelId,NovelName,NovelAddr,novelInfo.TotalPage.ToString())) @onclick:preventDefault class="btn btn-sm text-nowrap btn-block btn-outline-primary mb-2">尾页(@(novelInfo.TotalPage))</a>
        }

        @if (novelInfo.CurrentPage < novelInfo.TotalPage)
        {
            <a @onclick=@(e=>Navigation.GoTo("/detial",url,NovelId,NovelName,NovelAddr,(novelInfo.CurrentPage+1).ToString())) @onclick:preventDefault class="btn btn-sm text-nowrap btn-block btn-outline-primary mb-2">下一页(@(novelInfo.CurrentPage + 1))</a>
        }
    </div>
    @if (novelInfo.TotalPage > 1)
    {
        <div class="input-group container">
            <label class="input-group-text border-primary text-primary">页码</label>
            <select class="form-select form-select-sm border-primary" @onchange="SelectedChanged">
                @for (int i = 0; i < novelInfo.TotalPage; i++)
                {
                    <option value="@(i+1)">@(i + 1)</option>
                }
            </select>
            <label class="input-group-text border-primary text-primary">          </label>
        </div>
    }
}


@code {
    [Parameter]
    public string url { get; set; }
    [Parameter]
    public int? pageNum { get; set; }
    [Parameter]
    public string NovelId { get; set; }
    [Parameter]
    public string NovelName { get; set; }
    [Parameter]
    public string NovelAddr { get; set; }
    public MauiApp3.Model.NovelInfo novelInfo;
    public string Message = "loading .......";
    public void SelectedChanged(ChangeEventArgs e)
    {

        if (e.Value is not null)
        {
            if(int.TryParse(e.Value.ToString(),out int v))
            {
                if (v != novelInfo.CurrentPage)
                {
                    Navigation.GoTo("/detial", url, NovelId, NovelName, NovelAddr, v.ToString());
                }
               
            }
          
        }
    }
    protected override async Task OnParametersSetAsync()
    {
        try
        {
            await js.InvokeVoidAsync("loading", true);
            novelInfo = await soduService.GetNovel(url, pageNum.HasValue ? pageNum.Value : 0);
           
        }
        catch (Exception ex)
        {
            Message = ex.Message;
            StateHasChanged();
        }
        finally
        {
            await js.InvokeVoidAsync("loading", false);
        }

    }
   
    public void GoToNext(MouseEventArgs e, int page)
    {
        try
        {
            Navigation.NavigateTo($"/detial/{UrlEncoder.Default.Encode(url)}/{NovelId}/{UrlEncoder.Default.Encode(NovelName)}/{UrlEncoder.Default.Encode(NovelAddr)}/{page}");
        }
        catch (Exception ex)
        {

            throw;
        }


    }
}
