@page "/news"
@using MauiApp3.Model;
@using MauiApp3.Data;
@inject NewsService newService;
@inject NavigationManager navigate;
@inject IJSRuntime js;
<div class="btn-group container mb-3 mt-2">
    <NavLink href="/" class="btn text-nowrap btn-sm btn-block btn-outline-primary">主页</NavLink>
    <NavLink href="/index/1" class="btn text-nowrap btn-sm btn-block btn-outline-primary">小说</NavLink>
    <NavLink href="/records" class="btn text-nowrap btn-sm btn-block btn-outline-primary">历史记录</NavLink>
</div>
<div class="container mb-2">
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
<li class="nav-item" role="presentation">
<button class="nav-link" id="pills-z-tab" @onclick="@(e=>GetNews(1))" data-bs-toggle="pill" data-bs-target="#pills-z" type="button" role="tab" aria-controls="pills-z" aria-selected="true">知乎</button>
</li>
<li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-w-tab" @onclick="@(e=>GetNews(3))" data-bs-toggle="pill" data-bs-target="#pills-w" type="button" role="tab" aria-controls="pills-w" aria-selected="false">微博</button>
</li>
<li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-t-tab" @onclick="@(e=>GetNews(69))" data-bs-toggle="pill" data-bs-target="#pills-t" type="button" role="tab" aria-controls="pills-t" aria-selected="false">今日头条</button>
</li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-b-tab" @onclick="@(e=>GetNews(18))" data-bs-toggle="pill" data-bs-target="#pills-b" type="button" role="tab" aria-controls="pills-b" aria-selected="false">B站</button>
    </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-b-tab" @onclick="@(e=>GetNews(12))" data-bs-toggle="pill" data-bs-target="#pills-k" type="button" role="tab" aria-controls="pills-k" aria-selected="false">IT</button>
        </li>
</ul>
<div class="tab-content" id="pills-tabContent">
        @if (news != null && news.Count > 0)
        {
            var suffix = dic[itemId];
            <div class="tab-pane fade show active" id="pills-@suffix" role="tabpanel" aria-labelledby="pills-@suffix-tab">
                <ul class="list-group list-group-flush">

                    @foreach (var item in news)
                    {
                        <li class="list-group-item"><a class="link-primary" style="text-decoration:none" href="@item.link">@item.title</a><span>@(item.extra)</span></li>
                    }


                </ul>
            </div>
        }
        else
        {
            <p>@Message</p>
        }

</div>
</div>
@code {
    public int itemId = 1;
    public IList<MauiApp3.Data.News> news;
    public string Message="数据正在加载....";
    public static Dictionary<int, string> dic = new Dictionary<int, string>()
    {
      {1,"z" },
      {3,"w" },
      {69,"t" },
      {18,"b" },
      {6,"k" },

    };
    public async Task GetNews(int id)
    {
        try
        {
            await js.InvokeVoidAsync("loading", true);
            news = await newService.GetNewsByID(id);
        }
        catch (Exception ex)
        {

            Message = "发生错误" + ex.Message;
        }
        finally
        {
            await js.InvokeVoidAsync("loading", false);
        }

        StateHasChanged();
    }
    protected override async Task OnParametersSetAsync()
    {
        await GetNews(1);
    }

}
